In [177]:
import pandas as pd
import requests
import json
import time

In [178]:
df = pd.read_csv('dataframe_cnpj.csv')
df['cnpj'] = df['cnpj'].astype(str)
df.head(10)

             cnpj  state  city  district  street  number  zip  ddd  phone
0  86506899000134    NaN   NaN       NaN     NaN     NaN  NaN  NaN    NaN
1  41234159000158    NaN   NaN       NaN     NaN     NaN  NaN  NaN    NaN
2  11339833000106    NaN   NaN       NaN     NaN     NaN  NaN  NaN    NaN
3  17232037000148    NaN   NaN       NaN     NaN     NaN  NaN  NaN    NaN
4  10346800000112    NaN   NaN       NaN     NaN     NaN  NaN  NaN    NaN
5  86506899000134    NaN   NaN       NaN     NaN     NaN  NaN  NaN    NaN
6  61877557000108    NaN   NaN       NaN     NaN     NaN  NaN  NaN    NaN
7   6408094000119    NaN   NaN       NaN     NaN     NaN  NaN  NaN    NaN
8   4638814000107    NaN   NaN       NaN     NaN     NaN  NaN  NaN    NaN
9  97607945000108    NaN   NaN       NaN     NaN     NaN  NaN  NaN    NaN

In [181]:
for i in range(len(df)):
    
    time.sleep(25)

    url = "https://consulta-cnpj-gratis.p.rapidapi.com/office/" + df.loc[i, 'cnpj']

    querystring = {"simples":"false"}

    headers = {
        'x-rapidapi-host': "consulta-cnpj-gratis.p.rapidapi.com",
        'x-rapidapi-key': "b57f08dc88msh5cb0d7e9c1a10b2p18f2a3jsndb630d71f7b8"
        }

    response = requests.request("GET", url, headers=headers, params=querystring)

    # Transforma o texto da resposta em um dicionário
    data = json.loads(response.text)
    
    # populando a tabela
    if data == {"code":404,"message":"cached data unavailable"}:
        df.loc[i, 'state'] = 'NA'
        
    elif 'state' in data['address']:
        df.loc[i, 'state'] = data['address']['state']
        
    else: 
        df.loc[i, 'state'] = 'NA'
        
    if data == {"code":404,"message":"cached data unavailable"}:
        df.loc[i, 'city'] = 'NA'
        
    elif 'city' in data['address']:
        df.loc[i, 'city'] = data['address']['city']
        
    else:
        df.loc[i, 'city'] = 'NA'
        
    if data == {"code":404,"message":"cached data unavailable"}:
        df.loc[i, 'district'] = 'NA'
        
    elif 'district' in data['address']:
        df.loc[i, 'district'] = data['address']['district']
        
    else:
        df.loc[i, 'district'] = 'NA'
        
    if data == {"code":404,"message":"cached data unavailable"}:
        df.loc[i, 'street'] = 'NA'
        
    elif 'street' in data['address']:
        df.loc[i, 'street'] = data['address']['street']
        
    else:
        df.loc[i, 'street'] = 'NA'
    
    if data == {"code":404,"message":"cached data unavailable"}:
        df.loc[i, 'number'] = 'NA'
        
    elif 'number' in data['address']:
        df.loc[i, 'number'] = data['address']['number']
        
    else:
        df.loc[i, 'number'] = 'NA'
        
    if data == {"code":404,"message":"cached data unavailable"}:
        df.loc[i, 'zip'] = 'NA'
        
    elif 'zip' in data['address']:
        df.loc[i, 'zip'] = data['address']['zip']
    
    else:
        df.loc[i, 'zip'] = 'NA'
        
    if data == {"code":404,"message":"cached data unavailable"}:
        df.loc[i, 'ddd'] = 'NA'
        
    elif data['phones']:
        ddd = data['phones']
        K = 'area'
        ddd = [sub[K] for sub in ddd if K in sub][0]
        df.loc[i, 'ddd'] = str(ddd)
    
    else:
        df.loc[i, 'ddd'] = 'NA'
        
    if data == {"code":404,"message":"cached data unavailable"}:
        df.loc[i, 'phone'] = 'NA'
        
    elif data['phones']:
        phone = data['phones']
        P = 'number'
        phone = [sub[P] for sub in phone if K in sub][0] 
        df.loc[i, 'phone'] = str(phone)
    
    else:
        df.loc[i, 'phone'] = 'NA'
    
    print(i)
    print('Tabulado CNPJ:' + df.loc[i, 'cnpj'])

0
Tabulado CNPJ:86506899000134
1
Tabulado CNPJ:41234159000158
2
Tabulado CNPJ:11339833000106
3
Tabulado CNPJ:17232037000148
4
Tabulado CNPJ:10346800000112
5
Tabulado CNPJ:86506899000134
6
Tabulado CNPJ:61877557000108
7
Tabulado CNPJ:6408094000119
8
Tabulado CNPJ:4638814000107
9
Tabulado CNPJ:97607945000108
10
Tabulado CNPJ:18065432000146
11
Tabulado CNPJ:80296001000164
12
Tabulado CNPJ:27179846000197
13
Tabulado CNPJ:29068711000180
14
Tabulado CNPJ:67458572000190
15
Tabulado CNPJ:20314565000150
16
Tabulado CNPJ:61457688000128
17
Tabulado CNPJ:48516919000169
18
Tabulado CNPJ:41234159000158
19
Tabulado CNPJ:11339833000106
20
Tabulado CNPJ:46097604000107
21
Tabulado CNPJ:23594675000101
22
Tabulado CNPJ:84888347000102
23
Tabulado CNPJ:3158299000103
24
Tabulado CNPJ:44969420000156
25
Tabulado CNPJ:10393257000104
26
Tabulado CNPJ:64826496000130
27
Tabulado CNPJ:57916936000184
28
Tabulado CNPJ:76365327000129
29
Tabulado CNPJ:18875546000151
30
Tabulado CNPJ:11724026000107
31
Tabulado CNPJ:51030392000172
32
Tabulado CNPJ:23231755000100
33
Tabulado CNPJ:86490259000183
34
Tabulado CNPJ:98589896000190
35
Tabulado CNPJ:83279980000130
36
Tabulado CNPJ:23611338000185
37
Tabulado CNPJ:68869035000103
38
Tabulado CNPJ:38326185000100

In [182]:
df

,cnpj,state,city,district,street,number,zip,ddd,phone
0,86506899000134,NA,NA,NA,NA,NA,NA,NA,NA
1,41234159000158,PA,Belém,Pedreira,Passagem do Arame,465,66087230,91,84086742
2,11339833000106,SP,Guarulhos,Jardim Rosa de Franca,Rua Prefeitto Rinaldo Poli,1057,07082530,11,25577701
3,17232037000148,PR,Marumbi,Centro,Rua Mariano Baragao,337,86910000,43,91583676
4,10346800000112,SP,Tupã,Vila das Industrias,Rua Joao Tavares do Couto,263,17604231,14,34911191
5,86506899000134,NA,NA,NA,NA,NA,NA,NA,NA
6,61877557000108,NA,NA,NA,NA,NA,NA,NA,NA
7,6408094000119,GO,Morrinhos,J Bela Vista,Rua Bv4,15,75650000,NA,NA
8,4638814000107,PR,Curitiba,Agua Verde,Rua Joao Rodolfo Schlenker,354,80620030,NA,NA
9,97607945000108,NA,NA,NA,NA,NA,NA,NA,NA
10,18065432000146,MG,Betim,Santo Afonso,Rua Niteroi,15,32623520,31,35323599
11,80296001000164,NA,NA,NA,NA,NA,NA,NA,NA
12,27179846000197,CE,Redenção,Centro,Rua Santos Dumont,467,62790000,85,33321001
13,29068711000180,RJ,São José do Vale do Rio Preto,Camboata,Estrada Camboata,344,25780000,24,22246135
14,67458572000190,NA,NA,NA,NA,NA,NA,NA,NA
15,20314565000150,MA,Alto Alegre do Pindaré,Centro,Rua Sao Vicente,79,65398000,98,84087574
16,61457688000128,NA,NA,NA,NA,NA,NA,NA,NA
17,48516919000169,NA,NA,NA,NA,NA,NA,NA,NA
18,41234159000158,PA,Belém,Pedreira,Passagem do Arame,465,66087230,91,84086742
19,11339833000106,SP,Guarulhos,Jardim Rosa de Franca,Rua Prefeitto Rinaldo Poli,1057,07082530,11,25577701
20,46097604000107,NA,NA,NA,NA,NA,NA,NA,NA
21,23594675000101,TO,Palmas,Setor Sonia Regina (taquaralto),Rua dos Cravos,18,77060690,63,81273226
22,84888347000102,NA,NA,NA,NA,NA,NA,NA,NA
23,3158299000103,SP,Presidente Prudente,Vila Euclides,Avenida Cel. Jose Soares Marcondes,1915,19010082,NA,NA
24,44969420000156,RN,Açu,Potengi,Rua Coronel Jose Revoredo,894,59650000,84,96774214
25,10393257000104,RJ,Duque de Caxias,Vila Sao Luiz,Rua Almirante Grenfall,405,25085135,21,78969054
26,64826496000130,NA,NA,NA,NA,NA,NA,NA,NA
27,57916936000184,NA,NA,NA,NA,NA,NA,NA,NA
28,76365327000129,NA,NA,NA,NA,NA,NA,NA,NA
29,18875546000151,RS,Rio Grande,Centro,Rua Doutor Nascimento,44,96200300,53,91217193
30,11724026000107,ES,Viana,Vila Bethania,Rua Santa Helena,27,29130010,27,99004109
31,51030392000172,NA,NA,NA,NA,NA,NA,NA,NA
32,23231755000100,CE,Viçosa do Ceará,Escola Normal,Rua 10 de Novembro,SN,62300000,88,94583637
33,86490259000183,NA,NA,NA,NA,NA,NA,NA,NA
34,98589896000190,NA,NA,NA,NA,NA,NA,NA,NA
35,83279980000130,NA,NA,NA,NA,NA,NA,NA,NA
36,23611338000185,MA,São Luís,Centro,Rua de Santana,97,65053040,NA,NA
37,68869035000103,NA,NA,NA,NA,NA,NA,NA,NA
38,38326185000100,MG,Contagem,Milanez,Rua Quatorze,196,32143150,31,33939693

# Modelos de como retirar atributos dentro de LISTA DICIONARIO

## Método simplificado

In [154]:
test_list = data['phones']
print("The original list : " + str(test_list)) 
K = 'number'
res = [sub[K] for sub in test_list if K in sub][0] 
print("The extracted value : " + str(res)) 
res

The original list : [{'area': '91', 'number': '84086742'}]
The extracted value : 84086742

'84086742'

## Método # 1: usando a compreensão de lista

Essa é uma das maneiras pelas quais essa tarefa pode ser executada. Nela, iteramos para cada dicionário dentro da lista e verificamos se há uma chave nela, se estiver presente, o valor exigido é retornado.

In [84]:
test_list = [{"Gfg" : 3, "b" : 7},  
             {"is" : 5, 'a' : 10},  
             {"Best" : 9, 'c' : 11}] 
print("The original list : " + str(test_list)) 
K = 'Best'
res = [sub[K] for sub in test_list if K in sub][0] 
print("The extracted value : " + str(res))

The original list : [{'Gfg': 3, 'b': 7}, {'is': 5, 'a': 10}, {'Best': 9, 'c': 11}]
The extracted value : 9

## Método 2: Usando update() + loop

Esta é mais uma maneira pela qual essa tarefa pode ser realizada. Nisto, atualizamos cada dicionário um no outro. Formando um grande dicionário, o valor é extraído deste dicionário.

In [157]:
test_list = [{"Gfg" : 3, "b" : 7},  
             {"is" : 5, 'a' : 10},  
             {"Best" : 9, 'c' : 11}] 
print("The original list : " + str(test_list)) 
K = 'Best'

res = dict() 
for sub in test_list: 
      
    res.update(sub) 
print("The extracted value : " + str(res[K]))

The original list : [{'Gfg': 3, 'b': 7}, {'is': 5, 'a': 10}, {'Best': 9, 'c': 11}]
The extracted value : 9